

<div class="container">
    <form class="form-inline d-flex md-form form-sm mt-0">
      <i class="fas fa-search" aria-hidden="true"></i>
      <input class="form-control form-control-sm" type="text" placeholder="Search Pokemon"
        aria-label="Search" [(ngModel)] = "listFilter" name="filter" >
        
    </form>
    
    <div class="row" *ngIf = 'filteredPokeList && filteredPokeList.length'>
      <div class="col-md-3" *ngFor ='let Pokemon of filteredPokeList'>
        <div class="card">
          <img class="card-img-top img-fluid" src={{Pokemon.sprite}}>
          <div class="card body">
            <p class="card-text">Bulk stuff just for testing</p>
            <a [routerLink]="['/PokeDetail', Pokemon.id]" class="btn stretched-link">{{Pokemon.name}}</a>
          </div>
        </div>
       </div>
    </div>
  </div>